<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleName</key>
	<string>PhotoAxis</string>
	<key>CFBundleDisplayName</key>
	<string>PhotoAxis</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleLocalizations</key>
	<array>
		<string>en</string>
		<string>vi</string>
	</array>
	<key>LSMinimumSystemVersion</key>
	<string>$(MACOSX_DEPLOYMENT_TARGET)</string>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>CFBundleIconFile</key>
	<string>PhotoAxis</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key><string>PhotoAxis Investigation Case</string>
			<key>CFBundleTypeRole</key><string>Editor</string>
			<key>LSHandlerRank</key><string>Owner</string>
			<key>LSTypeIsPackage</key><true/>
			<key>LSItemContentTypes</key><array><string>$(PHOTOAXIS_CASE_UTI)</string></array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>PhotoAxis Document</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>$(PHOTOAXIS_DOCUMENT_UTI)</string>
			</array>
		</dict>
	</array>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeIdentifier</key><string>$(PHOTOAXIS_CASE_UTI)</string>
			<key>UTTypeDescription</key><string>PhotoAxis Investigation Case</string>
			<key>UTTypeConformsTo</key><array><string>com.apple.package</string><string>public.directory</string></array>
			<key>UTTypeTagSpecification</key><dict><key>public.filename-extension</key><array><string>paxcase</string></array></dict>
		</dict>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>$(PHOTOAXIS_DOCUMENT_UTI)</string>
			<key>UTTypeDescription</key>
			<string>PhotoAxis Document</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.content</string>
			</array>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>paxis</string>
				</array>
				<key>public.mime-type</key>
				<string>application/x-photoaxis-document</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
